/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
  color: #444;
}

body {
  font-family: 'Lato', sans-serif;
}

p {
  line-height: 2rem;
  font-weight: 300;
}

strong, b {
  font-weight: 700;
}

.custom-post h1 {
  color: #26a69a;
  font-size: 2.92rem;
}

.custom-post h2 {
  color: #00838f;
  font-size: 2.28rem;
}

.custom-post h3 {
  color: #00838f;
  font-size: 1.64rem;
}

.custom-post h4 {
  color: #00838f;
  font-size: 1rem;
}

a {
  color: #0097A7;
}

.chip {
  background-color: #F9A825;
  border-color: #FDD835;
  border-width: 1px;
  border-style: solid;
}

.chip:hover {
  background-color: white;
}

.chip a {
  color: white;
}

.chip:hover a {
  color: #F9A825;
}


.toc > nav > ul {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.toc a {
  font-size: 0.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

nav {
  box-shadow: none;
  background-color: transparent;
}

.description {
  text-transform: uppercase;
}

.teal-text.text-lighten-2 {
  color: #FDD835 !important;
  text-shadow: 0px 2px #FDD835;
}
/* */

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .teal-text.text-lighten-2 {
    font-size: 3.2rem;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
  background-color: #FDD835;
}

h1, h2, h3, h4 {
  font-family: 'Orbitron', sans-serif;
}